@using Kendo.Mvc.UI
@model IdentityManagement.Entities.DsmData
@{
    //required in order to render validation attributes
    ViewContext.FormContext = new FormContext();
}
<style>
    .k-popup-edit-form {
        /*background-color: #ADD8E6;*/
        width: 800px !important;
        /*height: 350px;*/
    }

    .k-edit-form-container .k-edit-buttons {
        width: 780px;
    }
</style>
<div id="divNewDiagnosis" style="background-color:transparent;width:800px!important;" class="k-edit-form-container" data-role="page">
    @Html.HiddenFor(m => m.Id )
    <script>                       
          function FilterMasterDxId() {
              return { MasterDXId: $("#MasterDXId").data("kendoDropDownList").value() };
          }
           function FilterQuestionId() {
               return { Id: $("#DsmTypeId").data("kendoDropDownList").value() };
           }
         
     </script>
         
        <table width="100%" >
            <tr>
                <td width="80px">
                    <scan style="color:red;margin-left:20px;margin-top:5px; float:left;">*</scan>
                    @Html.Label("Diagnosis:", new { @style = "margin-top:5px;width:60px;float:left;" })</td>
                <td colspan="4">
                    @(Html.Kendo().DropDownListFor(m=>m.MasterDXId)
      .Name("MasterDXId")
      .HtmlAttributes(new { style = "width:92%" })
      .OptionLabel("Select Diagnosis  ...")
      .DataTextField("Dsm")
      .DataValueField("MasterDXId")
      .Filter(FilterType.Contains)   
      .Events(e => { e.Close("DDLOnCloseIgnoreFilter"); })
             .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetDSMSearchList", "Client");
                  });
              })
              )


                </td>
            </tr>
            <tr><td height="5px"></td></tr>
            <tr><td>@Html.Label("DSM Type:", new { @style = "margin-top:5px;margin-left:25px;width:80px;float:left;" })</td>
             <td colspan = "2" >
              @(Html.Kendo().DropDownListFor(m=>m.DsmTypeId)
              .Name("DsmTypeId")
              .HtmlAttributes(new { style = "width:90%;" })
              .OptionLabel("Select Dsm Type...")
              .DataTextField("DsmType")
              .DataValueField("DsmTypeId")
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetDSMTypeSearchList", "Client").Data("FilterMasterDxId");
                  }).ServerFiltering(true);
              })
            //.SelectedIndex(0)
        .Enable(false)
        .AutoBind(false)
        .CascadeFrom("MasterDXId")
)

</td>
                <td width="120px">
                    @Html.Label("Type Specifier:", new { @style = "margin-top:5px;margin-left:0px;width:120px;float:right;" })</td>
            <td>
          @(Html.Kendo().DropDownListFor(m => m.DsmSpecifierId)
              .Name("DsmSpecifierId")
              .HtmlAttributes(new { style = "width:80%;" })
              .OptionLabel("Select Type Specifier...")
              .DataTextField("DsmSpecifier")
              .DataValueField("DsmSpecifierId")
              .Filter(FilterType.Contains)
              .DataSource(source =>
              {
                  source.Read(read =>
                  {
                      read.Action("GetDSMTypeSpecifierSearchList", "Client").Data("FilterQuestionId");
                  }).ServerFiltering(true);
              })
           //.SelectedIndex(0)
           .Enable(false)
           .AutoBind(false)
          .CascadeFrom("DsmTypeId")
                )

            </td>
            </tr>
            <tr><td height="5px"></td></tr>
            <tr>
                <td>
                   @Html.Label("Comments:", new { @style = "margin-left:20px;margin-top:30px;width:70px;" })
                </td>
                <td colspan = "4" >
                    &nbsp;&nbsp;@Html.TextAreaFor(m => m.Comments, new { @id = "txtComment", @class = "textareaforcasemanngement", placeholder = "Comments ...", spellcheck = "true", @maxlength = "255", style="width:640px;background-color:white;height:100px;margin-left:-10px;" })
                </td>
                @*<td>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div style="margin-top:10px; margin-left:30px">                       
                            <a href="javascript:void(0);" id="dsmAdd" title="Add"><img src="~/Content/themes/base/images/add.gif" /></a>                     
                        <a href="javascript:void(0);" id="dsmClose" title="Close" style="margin-top:10px">
                            <img src="~/Content/themes/base/images/cancel.gif" />
                        </a>
                    </div>
                </td>*@
            </tr>
        </table>
</div>
@{
    ViewContext.FormContext = null;
}