@using Kendo.Mvc.UI
@model PATSWebV2.ViewModels.Client.ClientAlertViewModel

@using (Ajax.BeginForm("SaveClientAlert", "Client", null, new AjaxOptions
{
	HttpMethod = "Post",
	UpdateTargetId = "viewPlaceHolder",
	InsertionMode = InsertionMode.Replace,
	OnSuccess = "OnAjaxSuccess"
}, new { @id = "ClientAlertForm", @name = "Client Alert", @style = "min-height: 400px;min-width:800px;height:70vh", @class = "color-primary" }))

{
    @Html.AntiForgeryToken()
    <br/>
	<div class="color-primary" style="width:98%">
			@Html.ValidationSummary(true)
			@Html.HiddenFor(m => m.Alert.ActionStatus)
			@Html.HiddenFor(m => m.Alert.EpisodeID, new { @id = "hdEpisodeID" })
			@Html.HiddenFor(m => m.Alert.NoteType)
            @Html.HiddenFor(m => m.EditingEnabled, new { @id= "hdEditingEnabled" })
			
			@*<h5 style="float:left;margin-left:10px;margin-top:5px;"><strong>CLIENT ALERTS</strong>
				<button id="addBnt" type="button" class="btn btn-link btn-group-lg" data-toggle="collapse" data-target="#divViewInstruction"
								style="width:20px; height:20px;float:right; margin-left: 4px; margin-top:-3px;" title="View Instructions">
					<img style="width:14px; height:14px;" src="~/Content/themes/base/images/i_icon.png" />
				</button>
			</h5><br />*@

			@*<div id="divViewInstruction" class="collapse">
			  <table id="grid" class="table table-condensed" style="margin-left:10px; padding-left:2px; padding-top:3px; width:99%">
					<tr><td><center><h5><strong>INSTRUCTIONS</strong></h5></center></td></tr>
					<tr>
						<td>
							<ul>
								<li>
									Notes entered in this section should be high priority alerts. They will be displayed in the client's summary header above.</li>
								<li>To add or update an alert, enter the information in the field below. Click the Save button to submit your entry.
								</li>
							
								<li>All updates are tracked and can be viewed by clicking on the CLIENT ALERTS HISTORY tab above.</li>
							</ul>
						</td>
					</tr>
				</table>
			</div>*@
			
        <table  style="background-color:transparent;width:100%;">
		    <tr>
                <td width="5%"></td>
                <td></td>
            </tr>
            @if (!string.IsNullOrEmpty(@Model.Alert.ADAE))
            {
            <tr>
                <td style="text-align:right">@Html.Label("ADA:")</td>
                <td width="80%" height="100px">
                    @Html.TextAreaFor(m => m.Alert.ADAE, new
               {
                   @id = "txtADAE",
                   //@class = "textareaforcasemanngement",
                   rows = "5",
                   @style = "padding:5px;disabled:disabled;border: 0.5px solid Darkgrey;width:99.8%;",
                   @readonly = "readonly"
               })
                </td>
            </tr>
            }
            <tr>
                <td style="text-align:right">@Html.Label("Alert:")</td>
				<td width="80%" height="100px">
                    @Html.TextAreaFor(m => m.Alert.NoteOrComments, new { @id="txtAlert", @placeholder = "Enter Alert...", @class = "textareaforcasemanngement", rows="10", @style ="padding:5px;" +  (@Model.EditingEnabled ? "" : "display:none") })
				</td>
            </tr>
        </table>
        @if (Model.Alert != null && Model.Alert.NoteOrComments.Length > 0)
        {
        <table class="table table-condensed dataeditstyle" style="background-color:transparent">
            <tr>
                <td width="5%"></td>
                <td >@Html.Label("Entry Date:")&nbsp;&nbsp;@Html.DisplayFor(m => m.Alert.EntryDate)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     @Html.Label("Entered By:")&nbsp;&nbsp;@Html.DisplayFor(m => m.Alert.ActionByName) </td>                       
					</tr>
	    </table>
        }
        <br/>
        <div class="padded aligncenter form-actions" id="caseIDTTButtonDiv" style="margin-bottom:10px">
@if (Model.EditingEnabled)
{
            <button type="submit" class="btn btn-group-lg primary-button" id="btnClientAlertUpdate">Save</button>
} &nbsp;&nbsp;
            <button type="button" class="btn btn-group-lg primary-button" id="btnClientAlertCancel">Cancel</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-group-lg primary-button" id="btnClientAlertReset">Reset</button>&nbsp;&nbsp;
        </div>		
    </div>


}

<script type="text/javascript">
    function AlertButtonDisable(disabled) {
        $("#btnClientAlertUpdate").prop('disabled', disabled);
        $("#btnClientAlertCancel").prop('disabled', disabled);
        $("#btnClientAlertReset").prop('disabled', disabled);
    }
    $(function () {
        var initdata = $("#ClientAlertForm").serialize();
       $('#ClientAlertForm').submit(function (e) {
           e.preventDefault();
           var nowdata = $("#ClientAlertForm").serialize();
           if (initdata === nowdata) {
                NotifyMessage();
                e.stopPropagation();
                return false;
           }
           if (confirm("Are you sure you want to save this Alert?") == false) {
               e.stopPropagation();
               return false;
           }
           initdata = nowdata;
           postFormAndReplaceDivHtmlPats($('#ClientAlertForm'));
           AlertButtonDisable(true);
           var tabstrip = $("#clienttabstrip").data("kendoTabStrip");
           var tab = tabstrip.select();
           tabstrip.reload(tab);
           return true;
       });
       $('#ClientAlertForm :input').change(function (e) {
           var nowdata = $('#ClientAlertForm').serialize();
           if (initdata === nowdata) {
               AlertButtonDisable(true);
           }
           else {
               AlertButtonDisable(false);
           }
       });
    });
    $("#btnClientAlertReset").click(function () {
        $(".textareaforcasemanngement").val("");
    });

    $("#btnClientAlertCancel").click(function () {
        document.getElementById("ClientAlertForm").reset();
        AlertButtonDisable(true);
    })
    DisableAllInputFields("#ClientAlertForm :input", $("#hdEditingEnabled").val());
    AlertButtonDisable(true);
</script>
