@model PATSWebV2.ViewModels.Client.EditingPaneViewModel
<style>
    .k-grid-header th.k-header > .k-link {
        line-height: 12px !important;
        min-height: 12px !important;
    }
</style>
<div class="space5"></div>
@if (Model.AllSmy.Where(x => x.ClientSmy == "ClinicSmy").FirstOrDefault() != null)
{
@(Html.Kendo().Grid<IdentityManagement.Entities.SummaryCollection>().Name("gridClinicSummary")
    .NoRecords("No Data found.")
    .HtmlAttributes(new { style = "background-color:#F0D9D9;margin-left:5px;width:97%;text-wrapper:" })
   .Columns(column =>
   {
       column.Bound(m => m.DateType).Title("Date Type").Width(130);
       column.Bound(m => m.DateEnrolled).Title("Date").Width(90);
       column.Bound(m => m.smydesc).Title("Entered By");
       column.Template(@<text>
         @if (item.DateType == "Note Entered" && item.Id > 0)
         {
            <a href="javascript:printPATSPDF(@Model.EpisodeID,@item.Id, 'Social Work Note','color-danger')">Print</a>
         }
         else if (item.DateType == "Re-entry Initial" && item.Id > 0)
         {
            <a href="javascript:printPATSPDF(@Model.EpisodeID, @item.Id, 'Case Re-entry Initial MH Screening','color-danger')">Print</a>
         }
         else if (item.DateType == "IDTT Entered" && item.Id > 0)
         {
            <a href="javascript:printPATSPDF(@Model.EpisodeID, @item.Id, 'Clinical IDTT Meeting','color-danger')">Print</a>
         }
         else if (item.DateType == "PMHS Entered" && item.Id > 0)
         {
            <a href="javascript:printPATSPDF(@Model.EpisodeID, 0, 'Clinical PMHS Entered','color-danger')">Print</a>
         }
         else if (item.DateType == "PMHS Removed" && item.Id > 0)
         {
            <a href="javascript:printPATSPDF(@Model.EpisodeID, 0,'Clinical PMHS Removed','color-danger')">Print</a>
         }
         else if (item.DateType == "IRP Entered" && item.Id > 0)
         {
            <a href="javascript:printPATSPDF(@Model.EpisodeID, @item.Id, 'BHR INDIVIDUALIZED REINTEGRATION PLAN (IRP)','color-danger')">Print</a>
         }
         else if (item.DateType == "DSM-5 Entered" && item.Id > 0)
         {
            <a href="javascript:printPATSPDF(@Model.EpisodeID, @item.Id, 'DSM-5 Self-Rated Level 1 Cross-Cutting Symptom Measure--Adult')">Print</a>
         }
         else if (item.DateType == "Needs Assessment" && item.Id > 0)
         {
            <a href="javascript:printPATSPDF(@Model.EpisodeID, @item.Id, 'Case Management Re-entry Needs Assessment','color-danger')">Print</a>
         }
         else if (item.DateType == "MCASR Entered" && item.Id > 0)
         {
            <a href="javascript:printPATSPDF(@Model.EpisodeID, @item.Id, 'Multnomah Community Ability Scale','color-danger')">Print</a>
         }
         </text>).Title("...").Width(50);
   }).BindTo(Model.AllSmy.Where(x => x.ClientSmy == "ClinicSmy")))
}
else {
    <div style="text-align:center;color:orange; vertical-align:central;"><b><i>No Clinical Data Found.</i></b></div>
}
@{
    var data = Model.AllSmy.Where(x => x.ClientSmy == "ClinicIDTT").FirstOrDefault();
    var dataCIDTT = string.Empty;
    var displayCIDTT = string.Empty;
    if (data != null)
    {
        dataCIDTT = data.smydesc;

    }
    else
    {
        displayCIDTT = "none";
    }
}
<div style="display : @displayCIDTT"> @Html.Label("IDTT Decision: " + dataCIDTT, new { style = "font-size:12px;margin-left:10px;height:12px" })</div>
@{
            var data1 = Model.AllSmy.Where(x => x.ClientSmy == "CMMCASRScore").FirstOrDefault();
            var dataMCASR = string.Empty;
            var displayMCASR = string.Empty;
            if (data1 != null)
            {
                dataMCASR = data1.smydesc;
            }
            else
            {
                displayMCASR = "none";
            }
}
<div style="display : @displayMCASR"> @Html.Label("MCASR Score: " + @dataMCASR, new { style = "font-size:12px;margin-left:10px;height:12px" })</div>


 
