@using PATSWebV2.Models.HelperModels
@model PATSWebV2.ViewModels.SocialWork.ClinicalIDTTViewModel

@using (Ajax.BeginForm("SaveClinicalIDTT", "Client", null, new AjaxOptions
{
    HttpMethod = "Post",
    UpdateTargetId = "viewPlaceHolder",
    InsertionMode = InsertionMode.Replace
    //OnSuccess = "OnAjaxSuccess"
}, new
{
    @id = "clinicalidttform",
    @name = "Interdisciplinary Treatment Team (IDTT) Meeting Clinical",
    @style = "min-height: 500px;min-width:800px;",
    @class = "color-danger"
}))
{

        @Html.HiddenFor(m => m.ClinicalIDTTSet.EpisodeId)
        @Html.HiddenFor(m => m.ClinicalIDTTSet.Id)
        @Html.HiddenFor(m => m.CanEdit, new { @id = "hdEditable" })
        @Html.HiddenFor(m => m.ClinicalIDTTSet.IsLastIDTT, new { @id = "hdIsLastCLIDTTSet" })

        <div style="margin-top:10px;float:left;"><b>INTERDISCIPLINARY TREATMENT TEAM (IDTT) MEETING</b>&nbsp;&nbsp;@Model.NoEditAllowed</div>
        <div style="float:left;height:22px;width:22px;margin-left:10px;margin-top:10px;">
            @if(Model.ClinicalIDTTSet != null && Model.ClinicalIDTTSet.Id > 0)
            {
                <a href="javascript:printPATSPDF(@Model.EpisodeId, @Model.ClinicalIDTTSet.Id, 'Clinical IDTT Meeting','color-danger')">
                    <img title="Print Clinical IDTT Meeting" style="height:22px;width:22px;" src='@Url.Content("~/Content/images/printer-icon.png")' />
                </a>
            }
        </div>
        <br/><br />
        <hr style="height:1px"/>
        <table id="smalltable" class="table table-condensed" style="background-color:transparent">
            <tr>
                <td width="250">
                    @Html.Label("SELECT PREVIOUS IDTT:")&nbsp;&nbsp;&nbsp;&nbsp;
                 <script>
                    var edit = ($("#hdIsLastCLIDTTSet").val() == "True" && $("#hdEditable").val() == "True");
                    $('#clinicalidttform').on('dblclick', '.textareaforcasemanngement', function (e) {
                        TextarePopup(e, edit, "color-danger");
                    });
                    $('#clinicalidttform').on('keyup', '.textareaforcasemanngement', function (e) {
                        if (e.keyCode == '90' && e.ctrlKey) {
                            $(this).trigger('dblclick');
                        }
                    })
                    function PopulatePreviousCLIDTTSet(e) {
                        if (this.select() == 0) {
                            DisableAllInputFields("#clinicalidttform :input", $("#hdEditable").val(), false);
                            return;
                        }
                        var object = this.dataItem(this.select());
                        $.ajax({
                            url: "@Url.Action("GetClinicalIDTT", "Client")",
                            data: {
                                EpisodeId: $("#AllSelectedOffenderEpisodeResult").val(), IDTTId: object.IDTTID
                            },
                            cache: false,
                            type: "POST",
                            dataType: "html",

                            success: function (data, textStatus, XMLHttpRequest) {
                                $("#clinicalidttform").replaceWith(data); // HTML DOM replace
                            }
                        })
                    }
                    function onDataBound(e) {
                        if (this.selectedIndex == 0)
                            this.select(1);
                    }
                </script>
                @(Html.Kendo().DropDownListFor(m => m.ClinicalIDTTSet.Id)
                .Name("AllCLIDTTDates")
                .OptionLabel("Select Dates...")
                .DataTextField("IDTTDate")
                .DataValueField("IDTTID")
                .HtmlAttributes(new { style = "width:140px;text-align:left;", @class = "neverDisable" })
                .Filter(FilterType.Contains)
                .Height(290)
                .Events(e => { e.Change("PopulatePreviousCLIDTTSet"); e.DataBound("onDataBound"); })
                .DataSource(source =>
                {
                    source.Read(read => read.Action("GetClinicalIDTTDateList", "Client", new { EpisodeID = Model.EpisodeId })).ServerFiltering(false);
                }))
            </td>
        </tr>
        <tr><td height="50px"></td></tr>
        <tr>
            <td>
                @Html.Label("DATE:", new { @style = "width:60px; float:left;margin-top:5px;" })
                @(Html.Kendo().DatePickerFor(m => m.ClinicalIDTTSet.IDTTDate).Value(Model.ClinicalIDTTSet.IDTTDate).Format("MM/dd/yyyy").HtmlAttributes(new { @id = "dpCLIDTTDate", @style = "width:130px;", @class = "clcpsydp" }))
            </td>
        </tr>
        <tr><td height="50px"></td></tr>
        <tr>
            <td>
                @Html.Label("IDTT MEMBERS IN ATTENDANCE:")<br />
                <fieldset style="border-style:solid; border-width:1px;border-color:darkgray;margin-left:0px; min-width:600px; width:60%;box-shadow:none;">
                    <table style="background-color:transparent;">
                        <tr>
                            <td>
                                @Html.HiddenFor(m => m.ClinicalIDTTSet.MemeberAttendance, new { @id = "hdAttendance" })
                                @Html.CheckBoxListFor(m => m.ClinicalIDTTSet.MemeberAttendance, (MultiSelectList)Model.SAssignmentType, null, "SAssignmentType", 4, "200px")
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Other option checked, please enter other member type:", new { @style = "margin-right:20px;margin-left:20px;font-weight:normal" })
                @(Html.Kendo().TextBoxFor(m => m.ClinicalIDTTSet.OtherMemeberAttendance).HtmlAttributes(new { @style = "width:200px", @spellcheck = "true", @placeholder = "Other...", onkeypress = "IgnoreEnterKey(event)" }))
            </td>
        </tr>
        <tr><td height="50px"></td></tr>
        <tr>
            <td>
                @Html.Label("CURRENT STATUS AND RECOMMENDATION:")<br />@Html.TextAreaFor(m => m.ClinicalIDTTSet.RecommandationForStatus, new { @class = "textareaforcasemanngement", @placeholder = "Current status and recommendation ...", @maxLength = "4000", style = "height:100px" })
            </td>
        </tr>
        <tr><td height="50px"></td></tr>
        <tr>
            <td>
                @Html.HiddenFor(m => m.ClinicalIDTTSet.IDTTDecision, new { @id = "hdIdttdecision" })
                @Html.Label("IDTT DECISION:")<br />
                @Html.CheckBoxListFor(m => m.ClinicalIDTTSet.IDTTDecision.HasValue ? Model.ClinicalIDTTSet.IDTTDecision.Value.ToString() : "", (MultiSelectList)Model.FinalIDTTDecision, null, "FinalIDTTDecision", 1, "500px")
            </td>
        </tr>
    </table>
    <hr />   
    <div class="padded aligncenter form-actions" id="clinicalIDTTButtonDiv">
        @{
            string visible = Model.CanEdit ? "display:inline" : "display:none";
        }
        <button type="submit" class="btn btn-group-lg danger-button" id="clicnicidttSave" style="@visible">Submit</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-group-lg danger-button" id="clicnicidttCancel" style="@visible">Cancel</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-group-lg danger-button" id="clicnicidttReset" style="@visible">Reset</button>
        @if (Model.ClinicalIDTTSet != null && Model.ClinicalIDTTSet.Id > 0)
        {
            <a href="javascript:printPATSPDF(@Model.EpisodeId,@Model.ClinicalIDTTSet.Id, 'Clinical IDTT Meeting','color-danger')">
                <img style="width:22px; height:22px;" title="Print Clinical IDTT Meeting" src='@Url.Content("~/Content/images/printer-icon.png")' /></a>
        }
    </div>
    <br /><br />
@*</div>*@
        }

<script>
    function IDTTButtonDisable(disabled)
    {
        $("#clicnicidttSave").prop('disabled', disabled);
        $("#clicnicidttCancel").prop('disabled', disabled);
        $("#clicnicidttReset").prop('disabled', disabled);
    }
    $(function () {
        var initdata = $('#clinicalidttform').serialize();
        $('#clinicalidttform').submit(function (e) {
            e.preventDefault();
            var nowdata = $('#clinicalidttform').serialize();
            if (initdata === nowdata) {
                NotifyMessage();
                e.stopPropagation();
                return false;
            }
            if (confirm("Are you sure you want to save this INTERDISCIPLINARY TREATMENT TEAM (IDTT) MEETING?") == false) {
                e.stopPropagation();
                return false;
            }
            initdata = nowdata;
            IDTTButtonDisable(true);
            postFormAndReplaceDivHtmlPats($('#clinicalidttform'));
            var tabstrip = $("#swTabstrip").data("kendoTabStrip");
            var tab = tabstrip.select();
            tabstrip.reload(tab);
            tabstrip.enable(tabstrip.tabGroup.children().eq(6), true);
            tabstrip.enable(tabstrip.tabGroup.children().eq(7), true);
            var menu = $("#ClientMenu").data("kendoMenu");
            menu.enable("#menuchange", true);
            menu.enable("#menuremove", true);
            return true;
        });
        $('#clinicalidttform :input').change(function (e) {
            var nowdata = $('#clinicalidttform').serialize();
            if (initdata === nowdata) {
                IDTTButtonDisable(true);
            }
            else {
                IDTTButtonDisable(false);
            }
        });
    });
    
    $('#printCLIDTTLink').on('click', function () {
        var url = document.getElementById('printCLIDTTLink').href;
        var substr = "IDTTId=";
        var caseID = $("#AllCLIDTTDates").val();
        if (url.indexOf("IDTTId") > 0) {
            substr = url.substring(url.indexOf("IDTTId"));
            url = url.substring(0, url.indexOf("&"));
            var oldcaseId = substr.substring(substr.indexOf('=') + 1);
            substr = substr.replace(oldcaseId, caseID);
        }
        else {
            substr = substr + caseID;
        }
        url = url + "&" + substr;
        this.href = url;
    })

    $(".clcpsydp").kendoValidator({
        rules: {
            dateValidation: function (element) {
                $(this).removeClass('field-validation-error');
                $(this).parent().find('span[data-valmsg-for]').remove();
                if (element.is("[data-val-date]") && element.val() != "") {
                    var value = $(element).val();
                    return is_valid_date(value);
                }
                return true;
            }
        },
        messages: {
            dateValidation: "must be a valid date",
        }
    });
    $(".clcpsydp").kendoMaskedTextBox({
        mask: "00/00/0000"
    });
    $(".clcpsydp").closest(".k-datepicker")
              .add($(".clcpsydp"))
              .removeClass("k-textbox")
    var editableCLIDTT = EditableEpisode($("#hdEditable").val()) && $("#hdIsLastCLIDTTSet").val() == "True";
    DisableAllInputFields("#clinicalidttform :input", $("#hdEditable").val(), editableCLIDTT);
    IDTTButtonDisable(true);
        $("body").on('change', 'select', function (ev) {
            if ($(this).find('option:selected').val() == "0") {
                $(this).css('color', '#999');
                $(this).children().css('color', 'black');
            }
            else {
                $(this).css('color', 'black');
                $(this).children().css('color', 'black');
            }
        });

        $('#clinicalidttform input[type="checkbox"]').change(function () {
            if (this.name == 'SAssignmentType') {
                var res = "";
                $("input:checkbox[name='SAssignmentType']:checked").each(function () {
                    if (res == "")
                        res = $(this).val();
                    else
                        res = res + (',' + $(this).val());
                });
                $("#hdAttendance").val(res);
            }
            else
            {
                if ($(this).prop('checked')) {
                    var val  = $(this).val();
                    $("input:checkbox[name='FinalIDTTDecision']").each(function () {
                        if (this.value != val)
                            $(this).prop('checked', false);
                    });
                    $("#hdIdttdecision").val(val);
                }
            }
        });

        $("#clicnicidttReset").click(function () {
            $("#clinicalidttform :input").each(function () {
                if (this.type == "checkbox")
                    $(this).prop('checked', false);

                if (this.type == "text" || this.type == "textarea") {
                    $(this).val('');
                }
            })
        });

        $("#clicnicidttCancel").click(function () {
            document.getElementById("clinicalidttform").reset();
            IDTTButtonDisable(true);
        })



</script>
