@model PATSWebV2.ViewModels.SocialWork.ClinicalPMHSViewModel

@using (Ajax.BeginForm("SaveClinicalPMHR", "Client", null, new AjaxOptions
{
    HttpMethod = "Post",
    UpdateTargetId = "viewPlaceHolder",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "OnAjaxSuccess"
}, new { @id = "clinicalcasePMHRform", @name = "PAROLEE MENTAL HEALTH SYSTEM REMOVAL", @style = "min-height: 68VH;", @class = "color-danger" }))
{
    @*<style>
        .k-checkbox-label {
            margin-top: 5px;
        }
    </style>*@
    @*<div id="appointmentdiv" class="color-danger">*@
        @Html.HiddenFor(m => m.EpisodeID, new { id = "hdEpisodeID" })
        @Html.HiddenFor(m => m.CanEdit, new { @id = "hdPMHSREditable" })
    <table style="background-color:transparent;min-width:600px;margin-top:5px;">
        <tr>
            <td style="width:75vw;">
                <table>
                    <tr style="line-height: 12px !important;"><td id="customers">@Html.Label("STATE OF CALIFORNIA", new { style = "float:left;font-size:12px;" })</td></tr>
                    <tr style="line-height: 12px !important;"><td>@Html.Label("PAROLEE MENTAL HEALTH SYSTEM REMOVAL", new { style = "float:left;font-weight:bold;font-size:14px;" })&nbsp;&nbsp;@Model.NoEditAllowed</td></tr>
                    <tr style="line-height: 12px !important;">
                        <td>
                            @Html.Label("CDCR 128-PMH2 (07/10)", new { style = "float:left;font-size:12px;" })&nbsp;&nbsp;
                            <a href="javascript:printPATSPDF(@Model.EpisodeID, 0, 'Clinical PMHS Removed','color-danger')">
                                <img style="width:22px; height:22px;margin-top:-5px;" title="Print Clinical PMHS Removal" src='@Url.Content("~/Content/images/printer-icon.png")' /></a>
                           &nbsp;&nbsp;@Model.NoEditAllowed
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width:25vw;">
                <table>
                    <tr style="line-height: 10px !important;"><td id="customers">@Html.Label("DEPARTMENT OF CORRECTIONS AND REHABILITATION", new { style = "float:left;font-size:12px;" })</td></tr>
                    <tr style="line-height: 10px !important;"><td id="customers">@Html.Label("DIVISION OF ADULT PAROLE OPERATIONS", new { style = "float:left;font-size:12px;" })</td></tr>
                    <tr><td height="20"></td></tr>
                </table>
            </td>
        </tr>
    </table>
    <hr style="height: 0.5px; line-height: 1px; margin-top: 5px;" />
    if (!string.IsNullOrEmpty(Model.InfoMessage))
    {
        <span style="color:red; font-weight:bold; font-size:14px;">@Model.InfoMessage</span>
    }
       @*<div class="table" style="background-color : transparent; margin-top:10px">
            <div class="row"><h6 style="float:left">STATE OF CALIFORNIA</h6><h6 style="float:right">DEPARTMENT OF CORRECTIONS AND REHABILITATION</h6></div>
            <div class="row"><h5 style="float:left"><strong>PAROLEE MENTAL HEALTH SYSTEM REMOVAL</strong></h5><h6 style="float:right">DIVISION OF ADULT PAROLE OPERATIONS</h6></div>
            <div class="row" style="width:200px">
                <h5 style="float:left"><strong>CDCR 128-PMH2 (07/10)</strong></h5>
                <a href="javascript:printPATSPDF(@Model.EpisodeID, 0,'Clinical PMHS Removed')">
                    <img style="width:22px; height:22px;" title="Print Clinical PMHS Removal" src='@Url.Content("~/Content/themes/base/images/printer-icon.png")' />
                </a>
                <button id="addBnt" type="button" class="btn btn-link btn-group-lg" data-toggle="collapse" data-target="#divViewPMHRInstruction"
                        style="width:20px; height:20px;margin-top:0px; margin-right:20px;float:left" title="View PMH Removal Instruction">
                    <img style="width:18px; height:18px;" src="~/Content/themes/base/images/i_icon.png" />
                </button>&nbsp;&nbsp;@Model.NoEditAllowed
            </div>
        </div>*@

        <p>
            THIS PAROLEE HAS COMPLETED A MENTAL HEALTH EVALUATION OR TREATMENT PROGRAM AND NO
            LONGER MEETS CRITERIA FOR INCLUSION IN THE PAROLEE MENTAL HEALTH SYSTEM (PMHS). (Check
            applicable box below.)
        </p>
        @*start dicharge*@
    <script>
        $('#clinicalcasePMHRform').on('dblclick', '.textareaforcasemanngement', function (e) {
            TextarePopup(e, ($("#hdPMHSREditable").val() == "True"), "color-danger");
        });
        $('#clinicalcasePMHRform').on('keyup', '.textareaforcasemanngement', function (e) {
            if (e.keyCode == '90' && e.ctrlKey) {
                $(this).trigger('dblclick');
            }
        })
    </script>    

        <table class="table table-condensed" style="background-color:transparent">           
            <tr>
                <td width="80px">&nbsp;&nbsp;&nbsp;&nbsp;a)&nbsp;&nbsp;
                    @Html.Kendo().CheckBoxFor(m => m.ClinicalPMHSSet.PMHSDischargeA).HtmlAttributes(new { @id = "pmhroptions1", @class= "pmhsopt" }).Enable(Model.IsAdmin)
                </td>
                <td colspan="6">As of&nbsp;&nbsp;
                    @(Html.Kendo().DatePickerFor(m => m.ClinicalPMHSSet.PMHSDischargeDateA)
                    .Value(Model.ClinicalPMHSSet.PMHSDischargeDateA).Format("MM/dd/yyyy")
                    .HtmlAttributes(new { id = "date-picker-pmhsra", style = "width:140px" })
                    .Enable(Model.IsAdmin))&nbsp;&nbsp;
                    this CCCMS parolee has been in remission and free of psychotropic medication for six months.&nbsp;&nbsp;<strong>The parolee is discharged from the PMHS.</strong>
                </td>
            </tr>
            <tr>
                <td width="80px">&nbsp;&nbsp;&nbsp;&nbsp;b)&nbsp;&nbsp;
                    @Html.Kendo().CheckBoxFor(m => m.ClinicalPMHSSet.PMHSDischargeB).HtmlAttributes(new { @id = "pmhroptions2", @class = "pmhsopt" })
                </td>
                <td colspan="6">The parolee was placed in the PMHS based on Medical Necessity on&nbsp;&nbsp;
                    @(Html.Kendo().DatePickerFor(m => m.ClinicalPMHSSet.PMHSDischargeDateB)
                     .Value(Model.ClinicalPMHSSet.PMHSDischargeDateB).Format("MM/dd/yyyy")
                     .HtmlAttributes(new { id = "date-picker-pmhsrb", style = "width:140px" }))&nbsp;&nbsp;
                    <b>Medical necessity no longer exists, treatment has stopped and parolee is discharged from the PMHS.</b>
                </td>
            </tr>
            <tr>
                <td width="80px">&nbsp;&nbsp;&nbsp;&nbsp;c)&nbsp;&nbsp;&nbsp;
                   @Html.Kendo().CheckBoxFor(m => m.ClinicalPMHSSet.PMHSDischargeC).HtmlAttributes(new { @id = "pmhroptions3", @class = "pmhsopt" })&nbsp;&nbsp;
                </td>
                <td colspan="6">
                    The parolee was initially designated as a mental health patient at a prison.<b>
                        Based on a review of the parolee’s Health Records, Parole Field File, and evaluation by the IDTT, the IDTT has concluded that the parolee does not meet the criteria for continued inclusion in the PMHS.
                    </b>
                </td>
            </tr>
            <tr>
                <td width="80px">&nbsp;&nbsp;&nbsp;&nbsp;d)&nbsp;&nbsp;&nbsp;
                  @Html.Kendo().CheckBoxFor(m => m.ClinicalPMHSSet.PMHSDischargeD).HtmlAttributes(new { @id = "pmhroptions4", @class = "pmhsopt" })
                </td>
                <td colspan="6">
                 The parolee has completed a community-based Mental Health Rehabilitation Program, no longer requires mental health treatment and is discharged from the PMHS.
                </td>
           </tr>
        </table>
 
        <br />
        <b>ADDITIONAL INFORMATION: </b>
        <table id="casemanagementtb" class="table table-condensed" style="margin-top:5px;background-color:transparent">
            <tr>
                <td>
                    @Html.TextAreaFor(m => m.ClinicalPMHSSet.PMHSDischargeNote, new { @class = "textareaforcasemanngement", @placeholder = "Additional Information ...", @maxLength = "255", style = "height:100px;background-color:white;" })
                </td>
            </tr>
        </table>
        <br/>
        <table class="table table-condensed " style="width:95%; margin-left:10px;background-color:transparent">
            <tr>
                <td align="right"><b>@Html.Label("CLINICIAN:")</b></td>
                <td>@Html.DisplayFor(m => m.ClinicalPMHSSet.ClinicianName)</td>
                <td align="right" width="180px"><b>@Html.Label("TEAM LEADER:")</b></td>
                <td>
                    @(Html.Kendo().TextBoxFor(m => m.ClinicalPMHSSet.TeamLeaderName).HtmlAttributes(new { @style = "width:200px", @spellcheck = "true", onkeypress = "IgnoreEnterKey(event)", @maxLength = "70" }))
                </td>
                <td align="right" width="400px"><b>@Html.Label("CHIEF PSYCHIATRIST/DESIGNATED SUPERVISOR:")</b>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    @(Html.Kendo().TextBoxFor(m => m.ClinicalPMHSSet.SupervisorName).HtmlAttributes(new { @style = "width:200px", @spellcheck = "true", onkeypress = "IgnoreEnterKey(event)", @maxLength = "70" }))
                </td>
            </tr>
        </table><br />
        <div style="font-size:12px;">&nbsp;&nbsp;&nbsp;&nbsp;
            DISTRIBUTION: Central File, Unit Health Record, Parole Outpatient Clinician, Desinated disability and Effectiven Communication System (DECS) User, Parolee
       </div><br /><br />
       <div class="padded aligncenter form-actions" id="caseIDTTButtonDiv">
            @if (Model.CanEdit)
            {
                <button type="submit" class="btn btn-group-lg danger-button" id="pmhsrSave">Submit</button>
            }&nbsp;&nbsp;
            <button type="button" class="btn btn-group-lg danger-button" id="pmhsrCancel">Cancel</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-group-lg danger-button" id="pmhsrReset">Reset</button>&nbsp;&nbsp;
            <a href="javascript:printPATSPDF(@Model.EpisodeID, 0,'Clinical PMHS Removed','color-danger')">
                <img style="width:22px; height:22px;margin-top:-5px;" title="Print Clinical PMHS Removal" src='@Url.Content("~/Content/images/printer-icon.png")' />
            </a>
       </div><br /><br />
}

<script type="text/javascript">
    function PMHSRButtonDisable(disabled) {
        $("#pmhsrSave").prop('disabled', disabled);
        $("#pmhsrCancel").prop('disabled', disabled);
        $("#pmhsrReset").prop('disabled', disabled);
    }
    $(function () {
        var initdata = $('#clinicalcasePMHRform').serializeAllArray();
        $('#clinicalcasePMHRform').submit(function (e) {
            e.preventDefault();
           var nowdata = $('#clinicalcasePMHRform').serializeAllArray();
            if (initdata === nowdata) {
                NotifyMessage();
                e.stopPropagation();
                return false;
            }
            if (confirm("Are you sure you want to save this PAROLEE MENTAL HEALTH SYSTEM REMOVAL?") == false) {
                e.stopPropagation();
                return false;
            }
            initdata = nowdata;
            PMHSRButtonDisable(true);
            postFormAndReplaceDivHtmlPats($('#clinicalcasePMHRform'));
            var tabstrip = $("#swTabstrip").data("kendoTabStrip");
            var tab = tabstrip.select();
            tabstrip.reload(tab);
            return true;
        });
        $('#clinicalcasePMHRform :input').change(function (e) {
            var nowdata = $('#clinicalcasePMHRform').serializeAllArray();
            if (initdata === nowdata) {
                PMHSRButtonDisable(true);
            }
            else {
                PMHSRButtonDisable(false);
            }
        });
    });
   
      function LoadPMHSR() {
            var pmhsra = $("#date-picker-pmhsra").data("kendoDatePicker");
            var pmhsrb = $("#date-picker-pmhsrb").data("kendoDatePicker");
            if ($('#pmhroptions1').is(':checked')) {
                pmhsrb.element[0].value = "";
                if (pmhsrb != undefined)
                    pmhsrb.enable(false);
                if (pmhsra != undefined)
                    pmhsra.enable(true);
            };

            if ($('#pmhroptions2').is(':checked')) {
                pmhsra.element[0].value = "";
                if (pmhsra != undefined)
                    pmhsra.enable(false);
                if (pmhsrb != undefined)
                    pmhsrb.enable(true);
            };


            if ($('#pmhroptions3').is(':checked')) {
                pmhsra.element[0].value = "";
                pmhsrb.element[0].value = "";
                if (pmhsra != undefined)
                    pmhsra.enable(false);
                if (pmhsrb != undefined)
                    pmhsrb.enable(false);
            };

            if ($('#pmhroptions4').is(':checked')) {
                pmhsra.element[0].value = "";
                pmhsrb.element[0].value = "";
                if (pmhsra != undefined)
                    pmhsra.enable(false);
                if (pmhsrb != undefined)
                    pmhsrb.enable(false);
            };
        }
      DisableAllInputFields("#clinicalcasePMHRform :input", $("#hdPMHSREditable").val());
      
     if (EditableEpisode($("#hdPMHSREditable").val()))
          LoadPMHSR();
     PMHSRButtonDisable(true);

        $("#clinicalcasePMHRform :checkbox").on('change', function () {
            CheckBoxCheckAction(this);
        })

        function CheckBoxCheckAction(obj) {
            var pmhsra = $("#date-picker-pmhsra").data("kendoDatePicker");
            var pmhsrb = $("#date-picker-pmhsrb").data("kendoDatePicker");

            $("#clinicalcasePMHRform :checkbox").each(function () {
                if (this.id != obj.id) {
                    $(this).prop('checked', false);
                }
            });

            if (obj.id == "pmhroptions1") {
                if (obj.checked) {
                    pmhsrb.element[0].value = "";
                }
                else{
                    pmhsra.element[0].value = "";
                }

                if (pmhsrb != undefined)
                    pmhsrb.enable(!obj.checked);
                if (pmhsra != undefined)
                    pmhsra.enable(obj.checked);
            }
            else if (obj.id == "pmhroptions2") {
                if (obj.checked) {
                    pmhsra.element[0].value = "";
                }
                else {
                    pmhsrb.element[0].value = "";
                }

                if (pmhsrb != undefined)
                    pmhsrb.enable(obj.checked);
                if (pmhsra != undefined)
                    pmhsra.enable(!obj.checked);
            }
            else if (obj.id == "pmhroptions3" || obj.id == "pmhroptions4") {
                pmhsra.element[0].value = "";
                pmhsrb.element[0].value = "";
                if (pmhsrb != undefined)
                    pmhsrb.enable(false);
                if (pmhsra != undefined)
                    pmhsra.enable(false);
            }
        }

        $("#pmhsrReset").click(function () {
            $("#clinicalcasePMHRform :input").each(function () {
                if (this.type == "checkbox" || this.type == "radio")
                    $(this).prop('checked', false);

                if (this.type == "text" || this.type == "textarea" || this.type == "number") {
                    $(this).val('');
                }
            })
        });

        $("#pmhsrCancel").click(function () {
            document.getElementById("clinicalcasePMHRform").reset();
            //LoadPMHSR();
            PMHSRButtonDisable(true);
        })
</script>
