@model PATSWebV2.ViewModels.Client.EditingPaneViewModel
<div class="space5"></div>
@if (Model.AllSmy.Where(x => x.ClientSmy == "RxSmy").FirstOrDefault() != null && Model.ShowPrescription)
{
@(Html.Kendo().Grid<IdentityManagement.Entities.SummaryCollection>().Name("gridPresSummary")
    .NoRecords("No DSM found.")
    .HtmlAttributes(new { style = "background-color:#FBF6DC;margin-left:5px;width:97%;white-space : nowrap;" })
   .Columns(column =>
   {
       column.Bound(m => m.DateEnrolled).Title("Date").Width(70);
       column.Bound(m => m.smydesc).Title("Psychiatist").Width(70);
       column.Template(c => "<a href='/Prescription/PrintPrescription?EpisodeId=" + Model.EpisodeID + "&PrescriptionId=" + c.Id + "&PsychiatristId=" + Convert.ToInt32(c.DateType) + "'>Print</a>").Title("Rx.").Width(50);
   }).BindTo(Model.AllSmy.Where(x => x.ClientSmy == "RxSmy")))
}
@*else {
    <div style="text-align:center;color:orange; vertical-align:central;"><b><i>No Prescription Found.</i></b></div>
}*@

@{
    var data = Model.AllSmy.Where(x => x.ClientSmy == "PsyNote").FirstOrDefault();
    var dataPsyNote = string.Empty;
    var displayPsyNote = string.Empty;
    var id = 0;
    if (data != null)
    {
        dataPsyNote = data.DateEnrolled;
        id = data.Id;
    }
    else
    {
        displayPsyNote = "none";
    }
}

<div style="display : @displayPsyNote"> @Html.Label("Latest Psychiatrist Note Entered: " + @dataPsyNote, new { style = "font-size:12px;margin-left:10px;height:12px; Margin-right:10px;" })
    @*<a href=@Url.Action("PrintCaseNote", "CaseManagement", new { EpisodeId =@Model.EpisodeID, CaseNoteId =@id })>Print</a></div>*@
    <a href="javascript:printPATSPDF(@Model.EpisodeID,@id, 'Psychiatry Note','color-warning')">Print</a></div>
@{
    var data1 = Model.AllSmy.Where(x => x.ClientSmy == "PsyMMA").FirstOrDefault();
    var dataMMA = string.Empty;
    var displayMMA = string.Empty;
    var id1 = 0;
    if (data1 != null)
    {
        dataMMA = data1.DateEnrolled;
        id1 = data1.Id;
    }
    else
    {
        displayMMA = "none";
    }
}
<div style="display : @displayMMA">@Html.Label("Latest MMA Entered: " + @dataMMA, new { style = "font-size:12px;margin-left:10px;height:12px; Margin-right:10px;" })<a href="javascript:printPATSPDF(@Model.EpisodeID,@id1, 'Medication Management Asessment','color-warning')">Print</a></div>
    @*@Html.Label("Latest MMA Entered: " + @dataMMA, new { style = "font-size:small;margin-left:10px;height:12px; Margin-right:10px;" })<a href=@Url.Action("PrintAMST", "Prescription", new { EpisodeId =@Model.EpisodeID, SelectASMTID = @id1 })>Print</a></div>*@
