@using Kendo.Mvc.UI;
@model IdentityManagement.Entities.LoginInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Log in";
}
<style>
.k-icon.k-i-eye{
    background: none;
}
</style>
<section id="loginForm">
    @using (Html.BeginForm("Login", "PATSAccount", new { ReturnUrl = ViewBag.ReturnUrl },FormMethod.Post)){ 
        @Html.AntiForgeryToken()
        <center>
            <div style="height:10vh"></div>
            <table id="logbox">           
                <tr id="logindiv1">
                    <td>
                        <scan class="redtext" style="margin-left:20px;">*</scan>@Html.LabelFor(m => m.UserName)
                    </td>
                    <td>
                        @(Html.Kendo().TextBoxFor(m => m.UserName).Name("UserName").HtmlAttributes(new { @autofocus = "autofocus", @type = "text", onkeypress = "IgnoreEnterKey(event)", style = "float:left;" }))
                    </td>
                </tr>
                <tr><td style="height:10px;"></td></tr>
                <tr id="logindiv2">
                    <td><scan class="redtext" style="margin-left:20px;">*</scan>@Html.LabelFor(m => m.Password)</td>
                    <td>
                        <span class="k-textbox k-space-right double-space" style="width: 247px;">
                            @(Html.Kendo().TextBoxFor(m => m.Password).Name("password")
                              .HtmlAttributes(new { @type = "password", onkeyup = "EnterKey(event)"}))
                            <span class="k-icon k-i-eye" style="visibility:hidden"></span>
                        </span>
                        <script>
                            $('.k-i-eye').hover(function functionName() {
                                //Change the attribute to text
                                if ($('#password').val() == "")
                                    return;
                                $('#password').attr('type', 'text');
                            }, function () {
                                //Change the attribute back to password
                                $('#password').attr('type', 'password');
                            });
                            function EnterKey(e) {
                                $(".k-icon k-i-eye").css("visibility", "hidden");
                                if (e.keyCode === 13) {
                                    $("#Login").trigger('click');
                                }
                                else
                                {
                                    
                                    if ($('#password').val() == "")
                                        $('.k-i-eye').css('visibility', 'hidden');
                                    else
                                        $('.k-i-eye').css('visibility', 'visible');
                                }
                            }
                        </script>
                    </td>
                </tr>
                <tr><td style="height:30px"></td></tr>
                <tr id="logindiv3"><td colspan="3" class="alignright"><b>@(Html.Kendo().Button().Name("Login").Content("Log in"))</b></td></tr>
            </table>
            <div class="redtext">
                @Html.ValidationSummary(true)
            </div>
        </center>
    }
</section>

<script type="text/javascript">
    $('#loginForm').css('height', ($(window).height() * 0.82 ));
    $('#loginForm').css('min-height', $(window).height() * 0.5);
</script>



