@model PATSWebV2.ViewModels.Client.PersonSearchViewModel
@using PATSWebV2.Controllers
@using PATSWebV2.DataAccess;

@Html.HiddenFor(m => m.RequestByOtherModel, new { id = "hdRequestByOtherModel" })
<input type="hidden" value="True" id="hdReloadRequest" />

<div id="clientheader" style="min-width:1000px;width:100vw;height:75px;background-image: url('../../Content/Images/start.jpg'); " class="patsheader">
    <div style="float: left; margin-left: 10px; margin-top:10px; width: 130px;" class="headitem1">
        <center style="margin-top:13px;color:darkblue;font-size:x-small; text-shadow: 1px 1px 2px #DAA520"><i><strong>California</strong></i></center>
        <center style="color:darkblue;font-size:x-small;text-shadow:1px 1px 2px #DAA520"><strong>Department <i>of</i> Corrections</strong></center>
        <center style="margin-bottom:13px;font-size:x-small;color:darkblue; text-shadow:1px 1px 2px #DAA520"><strong><i>and</i> Rehabilitation</strong></center>
    </div>
    <div class="headitem2">
    <img id="logo" alt="logo" title="cdcr-logo" src="~/Content/images/cdcr-masthead-logo.png" style="width:75px;float:left;" /></div>
    <div style="margin-top:25px; margin-left:25px;font-weight:bold; width:250px;float:left;color:darkblue;font-size:20px;
                text-shadow:0px -1px 0 darkblue, 1px 1px 0 darkgray;" class="headitem3">
        <span class="navbar-text"></span>PATS Web @PatsConstants.Environment
    </div>
    <div id="menu-outer" style="float:left;" class="headitem4">
        @{ 
            var logname  = @ViewBag.CurrentUser == null ? "Unknown" : (@ViewBag.CurrentUser.FirstName + " " + @ViewBag.CurrentUser.LastName);
        }
        <div class="table">
            <ul id="horizontal-list">
                <li class="list-inline @(ViewBag.ControllerID == ControllerID.Client ? "active" : "")">@Html.ActionLink("Client Profile", "Index", "Client", null, new { @style = "color:darkblue;" })</li>
                <li class="list-inline @(ViewBag.ControllerID == ControllerID.Assignment ? "active" : "")">@Html.ActionLink("Assignments", "AssignmentIndex", "Assignment", null, new { @style = "color:darkblue;" })</li>
                <li class="list-inline @(ViewBag.ControllerID == ControllerID.Appointment ? "active" : "")">@Html.ActionLink("Appointments", "ApptIndex", "Appointment", null, new { @style = "color:darkblue;" })</li>
                <li class="list-inline @(ViewBag.ControllerID == ControllerID.Reports ? "active" : "")">@Html.ActionLink("Reports", "Index", "Home", null, new { @style = "color:darkblue;" })</li>
             @if (@ViewBag.CurrentUser.UserID == 481 || @ViewBag.CurrentUser.UserID == 1309 || @ViewBag.CurrentUser.UserID == 1380)
             {
                <li class="list-inline @(ViewBag.ControllerID == ControllerID.Admin ? "active" : "")">@Html.ActionLink("Admin", "Index", "Admin", null, new { @style = "color:darkblue;" })</li>
             }
            </ul>
        </div>
    </div>
    <div style="margin-top:25px;margin-right:50px;width:180px;float:right;" class="headitem1">
        <div style="margin-top:5px;float:left;"><scan style="color:darkgreen;font-weight:bold;">@logname</scan></div>
        &nbsp;&nbsp;<button type="button" id="logoutButton" class="btn" title="Logout" />
    </div>
    @*<div style="width:50px;"></div>*@
        
</div>
<script>
    function onClick(e){
        var lastorcdcr = $("#txtSearchString").val();
        if(lastorcdcr == "")
        {
            e.preventDefault();
            return;
        }

        var ddlOffender = $("#AllOffenderResults").data("kendoDropDownList");
        if(ddlOffender != null && ddlOffender != undefined)
            ddlOffender.dataSource.read({text : lastorcdcr});
    }
    function SearchDataBound(e){
        var dropdown = $("#AllSelectedOffenderEpisodeResult").data("kendoDropDownList");
        if(dropdown == undefined || dropdown.dataSource._data.length ==0 )
        {
            e.preventDefault();
            return;
        }
        else{
            if(dropdown._arrow.children()[0].hasAttribute("unselectable")===false)
                dropdown._arrow.children().attr("unselectable", "on");
            dropdown.select(1);
            dropdown.trigger("change");
        }
    }
    function LoadSummary(obj)
    {
        $.ajax({
            url: "@Url.Action("GetClientSummary", "Client")",
            data: { selectedSearchResult: obj },
            cache: false,
            type: "POST",
            dataType: "html",
            success: function (data, textStatus, XMLHttpRequest) {
                $("#clientsummarypane").html(data); // HTML DOM replace
            },
            error: function (data, textStatus, XMLHttpRequest) {
                alert(textStatus + " load client summary.")
            }
        });
    }
    function LoadEditpanel(obj)
    {
        $.ajax({
        url: "@Url.Action("GetEditingPane", "Client")",
            data: { selectedSearchResult : $("#AllSelectedOffenderEpisodeResult").val() },
        cache: false,
        type: "POST",
        dataType: "html",

        success: function (data, textStatus, XMLHttpRequest) {
            $("#editingpane").html( data );
        },
        error: function (data, textStatus, XMLHttpRequest) {
            alert(textStatus + " load client.");
        }
    })
    }
    function SearchDataChanged(e){
        var dropdown = $("#AllSelectedOffenderEpisodeResult").data("kendoDropDownList");
        var selectedSearchResult= $("#AllSelectedOffenderEpisodeResult").val();
        var epid = selectedSearchResult == "" ? -1 : selectedSearchResult;
        if(selectedSearchResult === "")
        {
            return;
        }
        if($("#AllOffenderResults").data("kendoDropDownList").value() != "")
        {
            var text = $("#AllOffenderResults").data("kendoDropDownList").text();
            if (text == "" || text == undefined)
            {
                return;
            }
        }

        //load summary
        LoadSummary(epid);
        //load editpanel
        if($("#hdReloadRequest").val() =="True")
            LoadEditpanel(epid);

        //always reset request to true
        $("#hdReloadRequest").val("True");
    }
    function filterOffender(){
        return { EpisodeID : $("#AllOffenderResults").val() };
    }
    function onOffenderDataBound(e) {
        var ddlOffender = e.sender;
        if(ddlOffender._arrow.children()[0].hasAttribute("unselectable")===false)
            ddlOffender._arrow.children().attr("unselectable", "on");
        if(ddlOffender.dataSource.data().length == 0)
        {
            if($("#hdRequestByOtherModel").val().toUpperCase() == "TRUE")
            {
                $("#hdRequestByOtherModel").val("False")
                return;
            }

            if($("#txtSearchString").val().length > 0)
            {
                alert("No Data Found!");
                $("#editingpane").html( "" );
                $("#clientsummarypane").html("");
            }
            ddlOffender.select(0);
        }
        else{
            ddlOffender.select(1);
        }
        ddlOffender.trigger("change");
    }
    function StartSearch(e){
        if(e.keyCode === 13){
            $("#searchButton").trigger('click');
        }
    }
</script>
@if (ViewBag.ControllerID == ControllerID.Client)
{
    <div id="headerpane" class="searchsubmit widget">
       <table id = "eeeetable" style="background-color:transparent">
            <tr>
                <td width = "22px;" >
    @if(ViewBag.CurrentUser != null && ViewBag.CurrentUser.IsSysAdmin){
        <a id = "NewClient" >
            <img style="width:22px; height:22px;margin-top:-5px;" title="Add New Client" src='@Url.Content("~/Content/images/New_32514.png")' />
        </a>}
                </td>
                <td width="180px">
                    &nbsp;&nbsp;@Html.Label("Last Name/CDCR#/PID:")
                </td>
                <td width ="280">
                 <div>
                        @(Html.Kendo().TextBoxFor(m => m.SearchString)
                              .HtmlAttributes(new { @id = "txtSearchString", @placeholder = "Enter search criteria...",
                                  @style = "width:180px;height:26px; board-style:solid;line-height:20px;",
                                  onkeypress = "StartSearch(event)" }) )
                        @(Html.Kendo().Button()
                        .Name("searchButton")
                        .Icon("search")
                        .Content("Search")
                        .HtmlAttributes(new { type = "button", style = "height:25px;width:80px;", @class = "pats-button" })
                        .Events(e => { e.Click("onClick"); }))
                 </div>
                </td>
                <td align = "right" >
                    <div style="margin-right:100px;">
                        @(Html.Label("Search Result:"))
                        &nbsp;&nbsp;@(Html.Kendo().DropDownListFor(m => m.SelectedParentResult)
.Name("AllOffenderResults")
.DataValueField("Value")
.DataTextField("Text")
.OptionLabel("Select result ...")
.MinLength(1)
.HtmlAttributes(new { @style = "width:250px;height:25px;text-align:left; margin-top:-3px;fload:right;font-size:12.5px;", @class = "neverDisable" })
.Filter(FilterType.Contains)
.Height(290)
.Events(e => e.DataBound("onOffenderDataBound"))
.Value(Model.SelectedParentResult.HasValue? Model.SelectedParentResult.Value.ToString() : "-1")
.DataSource(source =>
{
    source.Read(read => read.Action("GetAllSearchResults", "Client"));
}))

                        &nbsp;&nbsp;@(Html.Kendo().DropDownListFor(m => m.SelectedSearchResult)
.Name("AllSelectedOffenderEpisodeResult")
.DataValueField("Value")
.DataTextField("Text")
.OptionLabel("Select Episode ...")
.MinLength(1)
.HtmlAttributes(new { style = "width:200px;height:25px;text-align:left;margin-top:-3px; margin-left:3px;fload:right;font-size:12.5px;", @class = "neverDisable" })
.Height(290)
.Value(Model.SelectedSearchResult.HasValue? Model.SelectedSearchResult.Value.ToString() : "-1")
.Events(e => { e.Change("SearchDataChanged"); e.DataBound("SearchDataBound"); })
.DataSource(source =>
{
    source.Read(read =>
    {
        read.Action("GetAllOffenderEpisodes", "Client").Data("filterOffender");
    }).ServerFiltering(true);
}).Enable(false).AutoBind(false).CascadeFrom("AllOffenderResults"))
                    </div>
                </td>
            </tr>
        </table>
        <div id="clientsummarypane" class="bodyitem1"></div>
    </div> 
}

<script type="text/javascript">
    function onProfileAjaxBegin() {
        //clear up the search result and text box
        $("#txtSearchString").val("");
        var ddlOffender = $("#AllOffenderResults").data("kendoDropDownList");
        var ddlEpisode = $("#AllSelectedOffenderEpisodeResult").data("kendoDropDownList");
        if(ddlOffender != null || ddlOffender != undefined) ddlOffender.select(0);
        if(ddlEpisode != null || ddlEpisode != undefined) ddlEpisode.select(0);
        //var div = document.getElementById("divPatsPartialView");
        var div = document.getElementById("viewPlaceHolder");
        if(div == undefined || div == null)
        {
            var newdiv = document.createElement('div');
            newdiv.id = "viewPlaceHolder";
            newdiv.class = "table table-hove";
            document.getElementById("editingpane").appendChild(newdiv);
        }

        var divHead = document.getElementById("divSummary");
        if(divHead == undefined || divHead == null)
        {
            var newdiv = document.createElement('div');
            newdiv.id = "divSummary";
            document.getElementById("clientsummarypane").appendChild(newdiv);
        }
    }

    function onProfileAjaxComplete(){
        LoadSummary(null);
    }
    $("#NewClient").on('click', function(){
        $.ajax({
            type: 'POST',
            url: "/Client/GetClientProfile",
            data:{EpisodeID : -1, PID : 0, CDCRNum : "", NewEpisode : true},
            //data: { EpisodeId: -1, ActiveTabIn : "clientprofile", NewClient : true, FromCMRequested : false },
            cache: false,
            dataType: "html",
            success: function (response) {
                onProfileAjaxBegin();
                LoadEditpanel(-1);
                LoadSummary(null);
                return true;
            },
            error: function (data, textStatus, xhr) {
                return false;
            }
        });
    })
</script>
