@using Kendo.Mvc.UI
@model PATSWebV2.ViewModels.AppointmentViewModel
@*<script src = "~/Scripts/Kendo/2019.1.220/kendo.scheduler.min.js" ></script >*@
<style>
   .k-tabstrip-items {
        padding: 0px;
    }

        .k-tabstrip-items .k-item {
            height: 25px;
            font-size: 13px;
            font-weight: bolder;
            /*padding:0px;*/
            background-color: transparent;  /*#ADD8E6;*/
        }
    
    .k-tabstrip .k-content.k-state-active {
        padding: 0px;
        /*background-color: #ADD8E6 !important;*/
    }
    
    #dartabstrip {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100vh; /* DO NOT USE !important for setting the Grid height!*/
    }
    
     .ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ui-front {
    z-index: 100;
}
.ui-dialog{
    border:thin solid gray;
}
.ui-dialog-buttonset {
    height:35px;
}
.ui-dialog-button{
    float:right!important;
    border-style:none;
    margin-right:2px;
    margin-top:5px;
}

.ui-dialog-title{
    font-weight:bold;
    color:darkblue;
    margin-left:2px;
}
        .ui-dialog-titlebar-close {
            height: 22px;
            width: 22px;
            float: right;
            margin-right: 2px;
            border-style: none;
            background: url('../../Content/Images/24_close.png') no-repeat;
        }
</style>
<script>
    function appttabChanged(e) {
        if (e.item.textContent == "Daily Activity Report")
           $('#dartabstrip').data('kendoTabStrip').reload(e.item);
        if (e.item.textContent == "BHR Office Scheduler") {
            var scheduler = $("#OfficeTimeLine").data("kendoScheduler");
            var parameters = getLocationData();
            scheduler.resources[0].dataSource.read(parameters).then(
                function (e) {
                    scheduler.view(scheduler.view().name);
                    scheduler.refresh();
                });
        }
    }
</script>
<div id="appttabs" class="k-content">
    @Html.HiddenFor(m => m.ActiveTabIn, new { id = "hdApptActiveTabIn" })
    @Html.HiddenFor(m => m.SelectedStaffs[0].ComplexId, new { @id = "hdLocationId" })
    @Html.HiddenFor(m=>m.SelectedStaffs[0].StaffName, new { @id = "hdStaffName"} )
    @(Html.Kendo().TabStrip()
         .Name("dartabstrip")
         .Events(e =>
         {
             e.Activate("appttabChanged");
         })
         .HtmlAttributes(new { style = "padding:0px; min-height:500px;width:100%;height:auto;" })
         .Animation(animation =>
             animation.Open(effect =>
                 effect.Fade(FadeDirection.In)))
      .Items(tabstrip =>
      {
          tabstrip.Add().Text("Daily Activity Report").Selected(true)
            .LoadContentFrom("GetDailyActivity", "Appointment", new { StaffId = Model.SelectedStaffs[0].StaffId, SchedulerDate = Model.Start });
          tabstrip.Add().Text("BHR Office Scheduler").Content(@Html.Partial("_POCOffice", Model).ToHtmlString());
      }
    ))
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var tabStrip = $("#dartabstrip").kendoTabStrip().data("kendoTabStrip");
          tabStrip.select("li:first");  
      });
    //$('#appttabs a:last').click(function (e) {
    //      e.preventDefault()
    //      var selectedLocationID = $("#DarStaffIDs").data("kendoDropDownList").dataItem().LocationId;
    //      var date = new Date($("#apptdatepicker").val());
    //      var locscheduler = $("#OfficeTimeLine").data("kendoScheduler");
    //      $("#AllPOCOffice").data("kendoDropDownList").value(selectedLocationID);

    //      locscheduler.resources[0].dataSource.read({ LocationId: parseInt(selectedLocationID), StartDate: date, EndDate: date }).then(
    //           function (e) {
    //               locscheduler.view(locscheduler.view().name);
    //           });
    //  })
      $(".k-dropdown").on('mouseover', function (obj) {
          if (obj.delegateTarget.children[1].id != undefined)
              $("#" + obj.delegateTarget.children[1].id).data("kendoDropDownList").open();
      })
</script>
